In [1]:
import pandas as pd
import numpy as np

In [2]:
#Reading in all data from Qliksense

qlik_addresses = pd.read_excel("qlik address.xlsx")
qlik_addresses

,Date,Destination Address,Total TTY Characters Sent,TTY Routing System
0,2022-01-29,NTEBWXH,1535212,Other
1,2022-01-29,SZGBRXH,1329136,Other
2,2022-01-29,STABSXH,1274987,Other
3,2022-01-29,UTCRMXH,1066237,Other
4,2022-01-29,HRGBSXH,897875,Other
...,...,...,...,...
6047,2022-03-01,TIAAW2B,91,ARINC
6048,2022-03-01,SAWYHXH,90,SITA
6049,2022-03-01,BUDOPXH,83,SITA
6050,2022-03-01,WAWOOXH,83,ARINC
6051,2022-03-01,HDQRMSU,78,Other

In [7]:
#finding all rows where there is no routing system listed

missing_routing = qlik_addresses[qlik_addresses["TTY Routing System"] == "-"]
missing_routing

,Date,Destination Address,Total TTY Characters Sent,TTY Routing System
2241,2022-02-10,ROMQTXS,7349,-
2798,2022-02-13,PEKKN1E,23278,-
2804,2022-02-13,BJSCCXH,21548,-
2834,2022-02-13,PEKZG1E,11002,-
3085,2022-02-14,ROMQTXS,613,-
3165,2022-02-15,CASZSAT,26382,-
3248,2022-02-15,MUCRM1P,333,-
3710,2022-02-18,BTSBPXH,42123,-
3988,2022-02-19,MOWBA1H,9831,-
4155,2022-02-20,PEKKN1E,25644,-
4157,2022-02-20,BJSCCXH,23892,-
4192,2022-02-20,PEKZG1E,12456,-
4221,2022-02-20,MOWBA1H,7456,-
4299,2022-02-21,HRGBMXH,159991,-
4305,2022-02-21,SSHBMXH,115204,-
4373,2022-02-21,LXRBMXH,15659,-
4412,2022-02-21,ATZBMXH,7318,-
4432,2022-02-21,QLHCGLH,4255,-
4469,2022-02-21,MOWBA1H,83,-
4480,2022-02-22,HRGBMXH,529511,-
4492,2022-02-22,SSHBMXH,222711,-
4518,2022-02-22,HBEBMXH,54966,-
4589,2022-02-22,MOWBA1H,10169,-
4625,2022-02-22,HMBBMXH,1829,-
4664,2022-02-23,HRGBMXH,524132,-
4672,2022-02-23,SSHBMXH,324735,-
4726,2022-02-23,HMBBMXH,38115,-
4748,2022-02-23,ASWBMXH,26095,-
4771,2022-02-23,QLHCGLH,14104,-
4849,2022-02-23,HBEBMXH,1284,-
4875,2022-02-24,HRGBMXH,422120,-
4891,2022-02-24,SSHBMXH,146037,-
4919,2022-02-24,HBEBMXH,49443,-
4970,2022-02-24,MOWBA1H,17424,-
4973,2022-02-24,LXRBMXH,15490,-
4992,2022-02-24,QLHCGLH,10992,-
5056,2022-02-24,BCNLSIB,183,-
5160,2022-02-25,QLHBMLX,22994,-
5186,2022-02-25,QLHCGLH,14987,-
5360,2022-02-26,QLHBMLX,24811,-
5377,2022-02-26,MOWBA1H,18251,-
5455,2022-02-26,BCNLSIB,177,-
5558,2022-02-27,MOWBA1H,37937,-
5571,2022-02-27,QLHBMLX,26788,-
5578,2022-02-27,PEKKN1E,23881,-
5580,2022-02-27,BJSCCXH,22143,-
5600,2022-02-27,QLHCGLH,13003,-
5611,2022-02-27,PEKZG1E,11540,-
5623,2022-02-27,CDGPPXH,10521,-
5746,2022-02-28,MOWBA1H,36242,-
5768,2022-02-28,QLHBMLX,18440,-
5794,2022-02-28,QLHCGLH,12257,-
5890,2022-03-01,HRGBMXH,145819,-
5938,2022-03-01,HBEBMXH,29910,-
5950,2022-03-01,BTSBPXH,23134,-
5957,2022-03-01,MOWBA1H,18356,-
5962,2022-03-01,QLHBMLX,17038,-
5980,2022-03-01,SSHBMXH,12601,-
6026,2022-03-01,HMBBMXH,1157,-
6028,2022-03-01,MUCPNLO,792,-

In [8]:
#drop duplicate destination addresses

missing_routing_singular = missing_routing.drop_duplicates(subset = "Destination Address")

In [12]:
#exporting it to Excel

missing_routing_singular.to_excel("Destination Addresses With No Routing.xlsx")